@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
    /* background-color: #151515; */
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale:2;
    mix-blend-mode: difference;
}



/* Loader code start */
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 24vh 7.5vw;
    
}
.line h1{
    font-size: 6.4vw;
    line-height: 14vh;
    font-weight: 600;
    
    text-transform: uppercase;
    /* background-color: red; */
}
.line{
    /* background-color: red; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* margin-bottom: 10px; */
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap:1.5vw;
}
.line h2{
    font-size: 6.4vw;
    /* background-color: red; */
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes anime {
    0%{
        /* font-family: "plain light"; */
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        /* font-family: "plain light"; */
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    75%{
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0.5;
    }
    100%{
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
@keyframes anime {
    0%{
        /* font-family: "plain light"; */
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        /* font-family: "plain light"; */
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    75%{
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0.5;
    }
    100%{
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#line1-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 2.5vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5{
    /* background-color: red; */
    width: 4.2vw;
    text-align: right;
}
/* Loader code end */

#main{
    position: relative;
    background-color: #0B0B0B;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.3vw 5.5vw;

}
#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:2.5vw
}
#nav-part2 h4{
    font-size: 0.9vw;
    font-weight: 500;
}
.content{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99999;
}
.content h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    
    /* background-color: red; */ 
    
}
.content:nth-child(2){
    margin-top: 12vh;
}
.content h2{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 600;
    /* background-color: red; */
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.5vw;
    -webkit-transition: all ease;
    -o-transition: all ease;
    transition: all ease;
}
.content h2:hover{
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 0.5vw solid transparent;
}
#content1 h1{
    position: relative;
}
#content1::before{
    content: "01";
    position: absolute;
    font-size: 3.5vw;
    font-weight: 500;
    font-family: "silk serif";
    top:25%;
    left:20%;
}
#flag {
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}
#content3{
    /* background-color: red; */
    position: relative;
    z-index: 9999;
}
#content1{
    /* background-color: red; */
    position:inherit
}
#content2{
    /* background-color: red; */
    position: relative;
    z-index: 9999;
}
#content4{
    /* background-color: red; */
    position: relative;
    z-index: 9999;
}

/* page2 */
#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 10vh;
    position: relative;
    /* margin-top: 10vh; */
    /* background-color: red; */
}
#video-container{
    height: 70vh;
    width: 70vw;
    position: relative;
    left:29%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}
#video-cursor{
    height: 8vw;
    width: 8vw;
    position: absolute;
    background-color: #FFA63D;
    z-index: 99;
    border-radius: 50%;
    top:-10%;
    left:80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#video-cursor i{
    /* position: relative; */
    color: white;
    /* top: 30%;
    left: 34%; */
    font-size: 3vw;
}
#video-container img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top:0;
}
#video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

/* page3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 5vh 2vw;
    margin-bottom: 0vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}
#page3 .underline{
    margin-left: 28vw;
}
#page3>h1::before{
    content: "02";
    position: absolute;
    font-size: 3.5vw;
    font-weight: 500;
    font-family: "silk serif";
    left:-12%
}
#image-container-div{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.image-div{
    height: 38vw;
    width: 27vw;
    /* background-color: blue; */
    position: relative; 
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 2.5vw;
}
.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
#image1{
    margin-top: 15vh;
}
.page3-circle1{
    height: 18vw;
    width: 18vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 46vh;
    margin-left: 15vw;
    position: relative;
    overflow: hidden;
}
.page3-circle1 svg{
    height: 35%;
}
.circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale:0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 50%;
}
.circle-in p{
    font-size: 0.85vw;
    color: #000;
    text-align: center;
    width: 60%;
    scale:0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2{
    height: 18vw;
    width: 18vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 4vw;
    position: relative;
    overflow: hidden;
}
.page3-circle2 svg{
    height: 35%;
    rotate: -45deg;
}









/* page4 */

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    padding: 5vh;

}
#page4-content{
    position: relative;
    width: 72vw;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3.5vw;
    font-weight: 500;
    font-family: "silk serif";
    left:-12%
}
#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}
#page4-content>p{
    font-size: 2vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#page4-flex img{
    width: 48%;
} 
#page4-flex p{
    font-size: 1vw;
    padding: 0 2vw;
    width: 30%;
    /* background-color: red; */
}
#page4-blue-div{
    position: relative;
    background-color: #3F7DF4;
    /* height: 33vw; */
    width: 30vw;
    padding: 2.5vw;
    margin-top: -28vh;
    margin-left: 24vw;
}
.blue-div-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* background-color: red; */
    padding: 3.4vh 0;
    border-bottom: 1px solid #fff;
}
.blue-div-elem h4{
    font-size: 1.2vw;
    font-weight: 600;
}
.blue-div-elem p{
    width: 50%;
    font-size: 0.9vw;
}


/* page5 */

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 5vw 0 ;
    position: relative;
}
#page5 span{
    font-family: "silk serif";
    color: transparent;
}

.elem1{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem1 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1.6vw;
    -webkit-animation-name: anime2;
            animation-name: anime2;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1.6vw;
    -webkit-animation-name: anime2;
            animation-name: anime2;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}
@-webkit-keyframes anime2 {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}
@keyframes anime2 {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

/* footer */
#footer{
    background-color: #151515;
    height: 80vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-left: 28vw;
    padding-right: 2vw;
}
#footer h1{
    font-size: 7vw;
    /* background-color: blue; */
    text-transform: uppercase;
    position: relative;
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3.5vw;
    font-weight: 500;
    font-family: "silk serif";
    left:-12%
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}
#footer-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background-color: green; */
    padding-right: 15vw;
    padding-top: 2vw;
    margin-bottom: 3vw;
}
#footer-bottom h6{
    font-size: 1vw;
    margin-bottom: 3vh;
}
#footer-bottom h5{
    font-size: 1.3vw;
    margin: 0.2vh 0;
    font-weight: 500;
    line-height: 1.5vw;
}
#footer-bottom .box{
    /* background-color: yellow; */
    width: 27%;
}
#copyright h4{
    font-weight: 500;
}


._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

/* responsiveness */

@media (max-width:600px){

    /* loader */
    #loader{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: #0B0B0B;
        padding: 24vh 7.5vw;
        
    }
    .line h1{
        font-size: 6.4vw;
        line-height: 6.4vw;
        font-weight: 600;
        text-transform: uppercase;
        /* background-color: red; */
    }
    .line{
        /* background-color: red; */
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        /* margin-bottom: 10px; */
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap:1.5vw;
    }
    .line h2{
        font-size: 6.4vw;
        /* background-color: red; */
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    @-webkit-keyframes anime {
        0%{
            /* font-family: "plain light"; */
            -webkit-text-stroke: 1px #fff;
            color:#fff;
            font-weight: 500;
            opacity: 0;
        }
        25%{
            opacity: 0.5;
        }
        50%{
            /* font-family: "plain light"; */
            -webkit-text-stroke: 1px #fff;
            color:#fff;
            font-weight: 500;
            opacity: 1;
        }
        75%{
            /* font-family: "silk serif"; */
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0.5;
        }
        100%{
            /* font-family: "silk serif"; */
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
        }
    }
    @keyframes anime {
        0%{
            /* font-family: "plain light"; */
            -webkit-text-stroke: 1px #fff;
            color:#fff;
            font-weight: 500;
            opacity: 0;
        }
        25%{
            opacity: 0.5;
        }
        50%{
            /* font-family: "plain light"; */
            -webkit-text-stroke: 1px #fff;
            color:#fff;
            font-weight: 500;
            opacity: 1;
        }
        75%{
            /* font-family: "silk serif"; */
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0.5;
        }
        100%{
            /* font-family: "silk serif"; */
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
        }
    }
    
    #line1-part1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap:1vw;
    }
    #line1-part1 h5, #line1-part1 h6{
        font-size: 2.5vw;
        font-family: "silk serif";
        font-weight: 100;
    }
    #line1-part1 h5{
        /* background-color: red; */
        width: 4.2vw;
        text-align: right;
    }




    /* page1 */

    #page1{
        height: 58vh;
        width: 100%;
        background-color: #151515;
        /* background-color: red; */
        padding-top: 1px;
    }
    
    #page1 #nav{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding: 4.3vw 5vw;
        width: 100%;
        /* background-color: red; */
        position: fixed;
        top:0;
    
    }
    #nav svg{
        scale:0.8;
    }

    #nav-part2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap:2.5vw;
        display: none;
    }
    #nav-part2 h4{
        font-size: 0.9vw;
        font-weight: 500;
    }
    .content{
        /* background-color: red; */
        width: 72%;
        margin-left: 6%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 99999;
        /* background-color: red; */
    }
    .content h1{
        font-size: 10vw;
        text-transform: uppercase;
        line-height: 10vw;
        font-weight: 600;
        
        /* background-color: red; */ 
        
    }
    .content:nth-child(2){
        margin-top: 25vh;
    }
    .content h2{
        font-size: 10vw;
        text-transform: uppercase;
        line-height: 7.5vw;
        font-weight: 600;
        /* background-color: red; */
        border-bottom: 1vw solid #fff;
        padding-bottom: 1.5vw;
        -webkit-transition: all ease;
        -o-transition: all ease;
        transition: all ease;
    }
    .content h2:hover{
        font-weight: 500;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        border-bottom: 0.5vw solid transparent;
    }
    #content1 h1{
        position: relative;
    }
    #content1::before{
        content: "01";
        position: absolute;
        font-size: 5vw;
        font-weight: 500;
        font-family: "silk serif";
        top:35%;
        left:6%;
    }
    #flag {
        height: 30vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 0;
    }
    #content3{
        /* background-color: red; */
        position: relative;
        z-index: 9999;
    }
    #content1{
        /* background-color: red; */
        position:inherit
    }
    #content2{
        /* background-color: red; */
        position: relative;
        z-index: 9999;
    }
    #content4{
        /* background-color: red; */
        position: relative;
        z-index: 9999;
    }

    /* page2 */
    #page2{
        height: 60vh;
        width: 100%;
        background-color: #151515;
        padding-top: 6vh;
        position: relative;
        /* margin-top: 10vh; */
        /* background-color: red; */
    }
    #video-container{
        height: 50vh;
        width: 100vw;
        position: relative;
        left:0%;
        background-color: red;
        background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
        background-size: cover;
        background-position: center;
    }
    #video-cursor{
        height: 24vw;
        width: 24vw;
        position: absolute;
        background-color: #FFA63D;
        z-index: 99;
        border-radius: 50%;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;  
    }
    #video-cursor i{
        /* position: relative; */
        color: white;
        /* top: 30%;
        left: 34%; */
        font-size: 5vw;
    }
    #video-container img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        top:0;
    }
    #video-container video{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }

    /* page3  */

    #page3{
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
        position: relative;
        padding: 4vh 2vw;
        margin-bottom: 0vh;
    }
    
    #page3 h1{
        font-size: 9vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 5vw;
    }
    #page3 .underline{
        margin-top: 8vw;
        margin-left: 5vw;
    }
    #page3>h1::before{
        content: "02";
        position: absolute;
        font-size: 5vw;
        font-weight: 500;
        font-family: "silk serif";
        left:0%;
        top:-80%;
    }
    #image-container-div{
        /* background-color: red; */
        padding: 1vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .image-div{
        height: 60vh;
        width: 70vw;
        /* background-color: blue; */
        position: relative; 
        overflow: hidden;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin: 2.5vw;
        margin-bottom: 3vw;
    }
    .image-div:nth-child(1){
        height: 50vh;
        width: 70vw;
    }
    .image-div img{ 
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    #image1{
        margin-top: 15vh;
    }
    .page3-circle1{
        height: 18vw;
        width: 18vw;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 46vh;
        margin-left: 15vw;
        position: relative;
        overflow: hidden;
        display: none;
    }
    .page3-circle1 svg{
        height: 35%;
        display: none;
    }
    .circle-in{
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        scale:0;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        border-radius: 50%;
    }
    .circle-in p{
        font-size: 0.85vw;
        color: #000;
        text-align: center;
        width: 60%;
        scale:0;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-transition-delay: 0.3s;
             -o-transition-delay: 0.3s;
                transition-delay: 0.3s;
        opacity: 0;
    }
    .page3-circle1:hover .circle-in{
        scale: 1;
    }
    .page3-circle1:hover p{
        scale: 1;
        opacity: 1;
    }
    .page3-circle2:hover .circle-in{
        scale: 1;
    }
    .page3-circle2:hover p{
        scale: 1;
        opacity: 1;
    }
    
    .page3-circle2{
        height: 18vw;
        width: 18vw;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 5vh;
        margin-left: 3vw;
        margin-right: 4vw;
        position: relative;
        overflow: hidden;
        display: none;
    }
    .page3-circle2 svg{
        height: 35%;
        rotate: -45deg;
        display: none;
    }

    /* page4 */

    #page4{
        min-height: 100vh;
        width: 100%;
        position: relative;
        background-color: #151515;
        padding: 5vh;
        padding-bottom: 4vh;
        margin-top: 10vh;
    
    }
    #page4-content{
        position: relative;
        width: 100%;
        margin-left: 0%;
    }
    #page4-content h1{
        font-size: 9vw;
        text-transform: uppercase;
        position: relative;
    }
    #page4-content h1::before{
        content: "03";
        position: absolute;
        font-size: 5vw;
        font-weight: 500;
        font-family: "silk serif";
        left:0%;
        top:-80%;
    }
    #page4-content .underline{
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0;
    }
    #page4-content>p{
        font-size: 6vw;
        width: 100%;
        margin-bottom: 3vw;
    }
    #page4-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    #page4-flex img{
        width: 100%;
    } 
    #page4-flex p{
        font-size: 3.5vw;
        padding: 0 0;
        width: 100%;
        margin-bottom: 5vw;
        /* background-color: red; */
    }
    #page4-blue-div{
        position: relative;
        background-color: #3F7DF4;
        height: 57vh;
        width: 100%;
        padding: 2.5vw;
        margin-top: -4vw;
        margin-left: 0vw;
    }
    .blue-div-elem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        /* background-color: red; */
        padding: 3.4vh 0;
        border-bottom: 1px solid #fff;
    }
    .blue-div-elem h4{
        font-size: 4vw;
        font-weight: 500;
    }
    .blue-div-elem p{
        width: 50%;
        font-size: 3vw;
    }
    #page4 .underline{
        margin-top: 5vh;
    }
    
    /* page5 */

    #page5{
        min-height: 40vh;
        width: 100%;
        background-color: #151515;
        padding: 8vw 0 ;
        position: relative;
    }
    #page5 span{
        font-family: "silk serif";
        color: transparent;
    }
    
    .elem1{
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -2vw;
    }
    .elem1 h1{
        font-size: 9vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color:transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 1.6vw;
        -webkit-animation-name: anime2;
                animation-name: anime2;
        -webkit-animation-duration: 12s;
                animation-duration: 12s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    .elem2{
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -2vw;
    }
    .elem2 h1{
        font-size: 9vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color:transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 1.6vw;
        -webkit-animation-name: anime2;
                animation-name: anime2;
        -webkit-animation-duration: 12s;
                animation-duration: 12s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    @-webkit-keyframes anime2 {
        from{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    @keyframes anime2 {
        from{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to{
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }

    /* footer  */

    #footer{
        background-color: #151515;
        height: 100 vh;
        width: 100%;
        position: relative;
        /* background-color: red; */
        padding-top: 10vw;
        padding-left: 6vw;
        padding-right: 6vw;
    }
    #footer h1{
        font-size: 9vw;
        /* background-color: blue; */
        text-transform: uppercase;
        position: relative;
    }
    #footer h1::before{
        content: "04";
        position: absolute;
        font-size: 5vw;
        font-weight: 500;
        font-family: "silk serif";
        left:0%;
        top:-80%;
    }
    
    .underline{
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 4vw 0;
    }
    #footer-bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* background-color: green; */
        padding-right: 15vw;
        padding-top: 2vw;
        margin-bottom: 3vw;
    }
    #footer-bottom h6{
        font-size: 4.5vw;
        margin-bottom: 1.5vh;
        margin-top: 4vh;
    }
    #footer-bottom h5{
        font-size: 6.5vw;
        margin: 0.2vh 0;
        font-weight: 500;
        line-height: 6.5vw;
    }
    #footer-bottom .box{
        /* background-color: yellow; */
        width: 27%;
    }
    #copyright h4{
        font-weight: 500;
    }

}